*{
     margin: 0; /*espaçamento externo dos elementos. */
    padding: 0; /*Remove o espaçamento interno dos elementos.. */
    box-sizing: border-box; /* Faz com que largura e altura incluam padding e borda.*/
}
body{
    font-family: 'Poppins', sans-serif; /* Define a fonte do texto. */
    background-color: #f0f0f0; /* Cor de fundo da página. */
    color: #333; /* Cor do texto. */
    margin-bottom: 10px; /* Espaçamento inferior da página. */
}
header{
    background-color: black; /* Cor de fundo do cabeçalho. */
    color: white; /* Cor do texto no cabeçalho. */
    padding: 20px; /* Espaçamento interno do cabeçalho. */
    text-align: center; /* Centraliza o texto no cabeçalho. */
}
.
.habilidade{
    margin-bottom: 10px; /* Espaçamento abaixo do título. */
    font-size: 16px; /* Tamanho da fonte do título. */
}
.projetos{
    margin-bottom: 10px; /* Espaçamento abaixo do título. */
    font-size: 16px; /* Tamanho da fonte do título. */
}
.experiencia{
    margin-bottom: 10px; /* Espaçamento abaixo do título. */
    font-size: 16px; /* Tamanho da fonte do título. */
}
.contato{
    margin-bottom: 10px; /* Espaçamento abaixo do título. */
    font-size: 16px; /* Tamanho da fonte do título. */
}